.app {
  position: relative;
}

.app__owner {
  text-align: center;
}

.layout {
  display: flex;
}

.layout__sidebar {
  flex: 0.4;
}

.layout__main {
  flex: 1.6;
}

.eventModal label {
  display: block;
}
